* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #231955;
  --secondary-color: #1f4690;
  --tertiary-color: #e8aa42;
  --quaternary-color: #ffe584;
}

h1 {
  color: var(--quaternary-color);
  position: relative;
}
body {
  height: 100vh;
}
#particles-js {
  position: absolute;
  width: 100%;
  height: 30vh;
  background-color: var(--primary-color);
  background-image: url("Line\ 1.svg");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  background-position: 50% 50%;
}
/* #pakodo {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 100%;
} */
