* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #231955;
  --secondary-color: #1f4690;
  --tertiary-color: #e8aa42;
  --quaternary-color: #ffe584;
}

h1 {
  color: var(--tertiary-color);
  position: absolute;
}
body {
  height: 100vh;
}
#particles-js {
  position: absolute;
  width: 45vw;
  height: 100vh;
  background-color: var(--primary-color);
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  background-position: 50% 50%;
}

#profile-photo {
  position: absolute;
  top: 10vh;
  left: 10vw;
}
#profile-photo img {
  width: 25vw;
  border-radius: 20px;
}
#connect {
  width: 15%;
  height: 5%;
  background-color: var(--quaternary-color);
  position: absolute;
  bottom: 2%;
  left: 15%;
  border-radius: 10px;
  border: 2px solid black;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(10%, auto);
  gap: 5px;
  padding: 5px;
  box-sizing: border-box;
}

#github-icon,
#instagram-icon,
#linkedin-icon {
  width: 90%;
}

@media only screen and (max-width: 768px) {
  #particles-js {
    width: 100vw;
    height: 100vh;
  }
  #profile-photo {
    top: 13vh;
    left: 20vw;
  }
  #profile-photo img {
    width: 60vw;
  }
  h1 {
    top: 3vh;
    left: 20vw;
  }
  #connect {
    width: 80%;
    left: 10%;
    height: 7%;
  }
  #github-icon,
  #instagram-icon,
  #linkedin-icon {
    width: 36%;
    height: 4%;
    justify-items: center;
  }
}
