@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #231955;
  --secondary-color: #1f4690;
  --tertiary-color: #e8aa42;
  --quaternary-color: #FFF155;
}
#root{
  max-height: 100vh;
}
.home{
  position: relative;
  max-height: 100vh;
  min-height: 100vh;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Noto Serif', serif;
}
.home{
  color: white;
  font-size: 12px;
}
body {
  height: 100vh;
}
#tsparticles {
  position: absolute;
  width: 100%;
  height: 100vh;
  /* background-color: var(--quaternary-color); */
  background: linear-gradient(166deg, rgba(45,52,54,1) 16%, rgba(2,2,8,1) 77%);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  background-position: 50% 50%;
}
.curve{
  z-index: -1;
  border-radius: inherit;

}
.profile-photo{
  max-width: 57%;
  background: radial-gradient(circle, rgb(13 0 164 / 40%) 0%, rgb(255 255 255 / 25%) 23%, rgb(16 190 225 / 0%) 64%);
  z-index: 2;
  left: 50%;
  transform: translate(-50%);
  clip-path: circle(48%);
}
.top-picture{
  height: 190px;
  overflow: hidden;
  border-radius: inherit;
}
.info-card{
  height: 600px;
  width: 335px;
  /* padding: 10px; */
  /* background: rgba(255,255,255, 0.1); */
  background: linear-gradient(45deg,rgba(255,255,255, 0.1) 10%, rgba(255,255,255, 0.0) 80%, rgba(255,255,255, 0.1) 100%);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  border-radius: 10px;
  box-shadow: 0px 0px 2px whitesmoke;
  
}
a{
  text-decoration: none;
  color: inherit;
}
a:hover{
  text-decoration: none;
  color: inherit;
}
.name{
  font-size: 2.3em;
}
.sub-heading{
  font-size: 1.4em;
}
.bio{
  font-size: 1.4em;
}
.disclaimer{
  font-size: 1.2em;
  margin-bottom: 0px;
}
.disclaimer span{
  text-decoration: underline;
  color: var(--quaternary-color);

}
.social-icons img{
  width: 27px;
  margin-left: 16px;
}
.social-icons svg{
  margin-left: 16px;
  color: white;
}
.bio p span{
  text-decoration: underline;
  color: var(--quaternary-color);
}
.tradingview{
  width: 38px !important;
  margin-left: 0px !important;
}

@media (max-width:576px){
  .info-card{
    width: 80vw !important;
    height: 80vh !important;
  }
  .bio{
    font-size: 1.2em;
  }
}

@media (min-height:700px){
  .info-card{
    height: 600px !important;
  }
  .bio{
    font-size: 1.4em;
  }
}