.container {
    padding: 5px;
    border-radius: 5px;
    background-color: rgb(230, 230, 231);
    height: max-content;
    user-select: none;
    -webkit-user-select: none;
    font-size: 14px;
    overflow: auto;
    max-width: max-content;
}

.container::-webkit-scrollbar {
    height: 5px;
}

.filter {
    padding: 5px;
    cursor: pointer;
    text-wrap: nowrap;
}

.filter.active {
    background-color: white;
    border-radius: 5px;
    box-shadow: 2px 2px 5px lightgray;
}